
<div class="containers">
	<div class="main-login main-center">

        <form [formGroup]="crearUsuario" (ngSubmit)="test()" class="form-horizontal" >

            <div class="inputs">
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input formControlName="nombres" type="text" class="form-control" name="nombres" id="nombres"  placeholder="nombres"/>
                        </div>
                        <span class="Errores">{{ErrorNombres}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input formControlName="apellidos" type="text" class="form-control" name="apellidos" id="apellidos"  placeholder="Apellidos"/>
                        </div>
                        <span class="Errores">{{ErrorApellidos}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input formControlName="usuario" type="text" class="form-control" name="usuario" id="usuario"  placeholder="Usuario"/>
                        </div>
                        <span class="Errores">{{ErrorUsuario}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input formControlName="correo" type="email" class="form-control" name="correo" id="correo"  placeholder="Correo"/>
                        </div>
                        
                        <span class="Errores">{{ErrorCorreo}}</span>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input formControlName="contrasena" type="password" class="form-control" name="contrasena" id="contrasena"  placeholder="Contraseña"/>
                        </div>
                        
                        <span class="Errores">{{ErrorContrasena}}</span>
                    </div>
                </div>
    
                
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input formControlName="confirmar" type="password" class="form-control" name="Confirmar" id="Confirmar"  placeholder="Confirmar contraseña"/>
                        </div>
                        <span class="Errores">{{ErrorContrasena}}</span>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input formControlName="DPI" type="number" class="form-control" name="DPI" id="DPI"  placeholder="DPI"/>
                        </div>
                        <span class="Errores">{{ErrorDPI}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input formControlName="edad" type="number" class="form-control" name="edad" id="edad"  placeholder="Edad"/>
                        </div>
                        <span class="Errores">{{ErrorEdad}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-12">
                        <div class="input-group foto-group">
                            <label for="foto"><span class="input-group-addon"><i class="fa fa-camera" aria-hidden="true"></i></span></label>
                            <span class="datoFoto">{{nombreFoto}}</span>
                            <input formControlName="foto" type="file" class="inputfile"  name="foto" id="foto" (change)="fileChange($event)" />
                            
                        </div>                        
                        <span class="Errores">{{ErrorFoto}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <button type="button" type="submit" class="btn btn-primary btn-lg btn-block login-button">Registrar</button>
            </div>


        </form>
    </div>
</div>