<app-navig></app-navig>
<div class="containers">
	<div class="main-login main-center">

        <form [formGroup]="crearTarjeta" (ngSubmit)="test()" class="form-horizontal" >

            <div class="inputs">
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input formControlName="numero" type="text" class="form-control" name="numero" id="numero"  placeholder="Numero de tarjeta"/>
                        </div>
                        <span class="Errores">{{ErrorNumero}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input formControlName="nombre" type="text" class="form-control" name="nombre" id="nombre"  placeholder="Nombre del propietario"/>
                        </div>
                        <span class="Errores">{{ErrorNombre}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa-key" aria-hidden="true"></i></span>
                            <input formControlName="fechaExp" type="month" class="form-control" name="fechaExp" id="fechaExp"  placeholder="Fecha de Expiracion"/>
                        </div>
                        <span class="Errores">{{ErrorFechaExp}}</span>
                    </div>
                </div>
    
    
    

            <div class="form-group ">
                <button type="button" type="submit" class="btn btn-primary btn-lg btn-block login-button">Ingresar Tarjeta</button>
            </div>


        </div>
        </form>
    </div>
</div>