
.containers{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}


.main-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
   /* shadows and rounded borders */
   border-top-left-radius: 30px;
   border-bottom-right-radius: 35px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   width: 80%;
   margin-top: 30px;
   margin: 0 auto;
   max-width: 100%;
   padding: 30px 30px;

}


.form-horizontal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form-group{
    width: 48%;
	margin-bottom: 15px;
}

.namegroup{
    width: 100%;
}

label{
	margin-bottom: 14px;
}

input{
    height: 40px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    padding-top: 3px;
}


.login-button{
	margin-top: 3px;
    border-radius: 20px;
}

.login-register{
	font-size: 8px;
	text-align: center;
}


.inputfile{
    visibility: hidden;
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}


.foto-group{
    display: flex;
    align-items: flex-start;
}

.datoFoto{

    flex-grow: 2;
    height: 38px;
    font-size: small;
    line-height: 38px;
    padding-left: 10px;
    color: #C9CBCB;
    border:1px solid #C9CBCB;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.Errores{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 10px;
}