<app-navig></app-navig>
<div class="container">
    <h1 class="text-center mt-5">Carrito de Compras</h1>
    <div class="row g-3 mt-2">
        <div class="col">
            <select name="card" class="form-select" [(ngModel)]="card" (change)="onChange($event)">
                <option disabled selected value="">Escoja un tarjeta</option>
                <option [value]="getInfo(item.idTarjeta, item.montoEnCuenta)" *ngFor="let item of cards">
                    {{item.numero}}
                </option>
                <option value="0">Registrar Tarjeta...</option>
            </select>
        </div>
        <div class="col">
            <input type="text" name="userName" [(ngModel)]="userName" class="form-control validate"
                placeholder="userName" aria-label="Last name">
        </div>
    </div>
    <div class="col">
        <table class="table table-striped">
            <tr>
                <th>Titulo</th>
                <th>Lenguaje</th>
                <th>Precio</th>
                <th>Días</th>
            </tr>
            <tr *ngFor="let item of movies">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.chargeRate}}</td>
            </tr>
        </table>
    </div>
    <h1>Total: Q.{{acum}}</h1>
    <div class="row mt-4">
        <div class="text-center">
            <button class="btn btn-primary" (click)="execute()">
                Pagar
            </button>
        </div>
    </div>
</div>