<app-navig></app-navig>

<div class="bg-secondary">
  <!--Sección para el contenido principal-->
  <div class="container-fluid Bot">
    <!-- Sección que engloba el cuadro contenedor de los elementos -->
    <div class="row p-5 mb-2" style="margin-left: 25%; margin-right: 25%;">
      <div class="bg-light animate__animated animate__flipInX d-flex flex-row justify-content-center alig-items-center"
           style="margin-left: 2px;">

        <!--Contenedor de la columna-->
        <div class="container">

          <div class="d-flex flex-row justify-content-center alig-items-center">
            <a class="navbar-brand animate__animated animate__flipInX Log2" style="font-size: 70px;">
              <i class="fas fa-solid fa-user-astronaut"></i>Historial</a>
          </div>

          <ul style="margin-top: 10px;">
            <h1> </h1>
          </ul>

          <div class="container" style="margin-top: 10;">
            <div class="d-flex">
              <table *ngIf="movies.length > 0; else elseBlock" class="table table-hover table-dark">
                <thead>
                <tr>
                  <th scope="col">Portada</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Total</th>
                  <th scope="col">Fecha de Compra</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let movie of movies">
                  <td>
                    <img style="width: 80px; height: 80px" src="data:image/png;base64,{{movie.image}}" >
                  </td>
                  <td>{{ movie.name }}</td>
                  <td>Q. {{ movie.monto }}</td>
                  <td>{{ movie.date }}</td>
                </tr>
                </tbody>
              </table>
              <ng-template #elseBlock>
                <p class="text-muted">No tienes ninguna película a mostrar</p>
              </ng-template>
            </div>
          </div>

          <ul style="margin-top: 10px;">
            <h1> </h1>
          </ul>

          <ul style="margin-top: 20px;">
            <h1> </h1>
          </ul>

          <ul style="margin-top: 20px;">
            <h1> </h1>
          </ul>

          <ul></ul>

        </div>
      </div>
      <ul style="margin-top: 20px;"><h1></h1></ul>
    </div>
  </div>
</div>
