<app-navig></app-navig>
<br>
<div class="container">
<div class="row p-3 mb-2 bg-gradient-dark text-white">
 
  <div  *ngFor="let element of idiomas" class="container-fluid">
   
    <div class="alert alert-dark" role="alert">
      {{element.idioma}}
    </div>
      <div class="row gallery">
        <div *ngFor="let peli of element.peliculas" class="border col-sm-6 col-md-4 col-lg-3" style=" padding-bottom: 25px !important; ">
          <div class="alert alert-secondary" role="alert">
            {{peli.name}} -  Q{{peli.precio}}
          </div>
          <img style="width: 80px; height: 80px" src="data:image/png;base64,{{peli.image}}" >
          <input  (change)="changeCheckbox(peli)" class="form-check-input" type="checkbox">
          <hr class="my-4">
          <button type="button" (click)="finalizar(1,peli)" class="btn-sm btn-info">¡LLEVAR AHORA!</button>
        </div>
      </div>
</div>

</div>
</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <button (click)="finalizar(2, null)"  type="button" class="btn btn-primary btn-lg btn-block">FINALIZAR</button>
     </section>

    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <section>
      <a   target="_blank"
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://www.facebook.com/Pelis-y-mas-131691835248004/"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fab fa-facebook-f"></i></a>
     </section>
 
  </div>
  <!-- Copyright -->
</footer>
