<nav class="navbar navbar-dark bg-primary navbar-expand-md">

  <ul class="navbar-nav mx-auto">
    <li class="nav_item text-center">
      <a class="btn btn-outline-light" routerLink="/paginaInicio">INICIO</a>
    </li>&nbsp;


    <li class="nav_item text-center">
      <a class="btn btn-outline-light" routerLink="/ingresoTarjeta">Agregar Tarjeta</a>
    </li>&nbsp;

    <li class="nav-item active text-center">
      <a class="btn btn-outline-light" routerLink="/saldo">Saldo de Tarejtas</a>
    </li>&nbsp;

    <li class="nav-item active text-center">
      <a class="btn btn-outline-light" routerLink="/record">HISTORIAL</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <button (click)="killSesion()" type="button" class="btn btn-outline-warning">CERRAR SESION</button>
    </li>
  </ul>
</nav>
