<app-navig></app-navig>
<div class="container">
    <h1 class="text-center mt-5">Saldo en Tarjetas</h1>
    <div class="col mt-5">
        <table class="table table-striped" *ngIf="flag">
            <thead class="table-dark">
                <tr>
                    <th>Número de Tarjeta</th>
                    <th>Titular</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cards">
                    <td>{{item.numero}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.montoEnCuenta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!flag">
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-auto">
                <i class="fa-solid fa-face-meh fa-5x"></i>
            </div>
            <div class="col-auto">
                <h5>No tienes tarjetas registradas</h5>
            </div>
        </div>
    </div>
</div>